<div ng-controller="signupController">
    lgml
    <span ng-if='uid==$empty' style="color:red;">
        <strong>User id required !</strong>
    </span><br>
    <span ng-if='pass1==$empty' style="color:red;">
        <strong>Password required !</strong>
    </span><br>
    <span ng-if='pass2==$empty' style="color:red;">
        <strong>Confirm password required !</strong>
    </span><br>
    <span ng-if='fullName==$empty' style="color:red;">
        <strong>Password required !</strong>
    </span><br>
    <span ng-if='address==$empty' style="color:red;">
        <strong>Password required !</strong>
    </span><br>
</div>